<app-navbar></app-navbar>
<div class="container my-5">

    <div class="row">
        <div class="col">
            <h1>User List</h1>
            <button class="btn btn-primary my-3" [routerLink]="['/register']">Add</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="userlist.length == 0" class="alert alert-warning">No people found</div>
            <table *ngIf="userlist.length > 0" class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Mail</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userlist ; let i = index ">
                        <th>
                            {{ user['firstname'] }}<br/>
                            <label *ngIf="user['roles'] == 'ROLE_ADMIN'" style="color:#3399ff">{{ user['roles'] }}</label>
                            <label *ngIf="user['roles'] == 'ROLE_USER'" style="color:#ff9933">{{ user['roles'] }}</label>
                        </th>
                        <th>{{ user['name'] }}</th>
                        <th>{{ user['lastname'] }}</th>
                        <th>{{ user['mail'] }}</th>
                        <th>{{ user['phone'] }}</th>
                        <th>{{ user['address'] }}</th>
                    <td>
                        
                        <button (click)="delete($event)" name="edit" id="{{ user['id'] }}" class="btn btn-outline-danger mx-3"  >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                            </svg>
                        Delete
                        </button>
                        
                        <button class="btn btn-warning" class="btn btn-warning mx-3" [routerLink]="['/uupdate',user['id']]">Update</button>
                        <button class="btn btn-info " [routerLink]="['/uupdateadmin',user['id']]">Admin update</button>
                        
                            
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>